@charset "UTF-8";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

table {
	border-collapse: collapse;
}

#tetris_box {
	border: 3px solid black;
	min-width: 5px;
}

.tetris_background {
	width: 25px;
	height: 25px;
	border: 1px double white;
	background-color: gray;
	border-collapse: collapse;
}
.tetris_coloring {
	width: 100%;
	height: 100%;
}